<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Если файл или директория существуют, используем их
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Иначе перенаправляем на index.html для SPA роутинга
  RewriteRule . /index.html [L]
</IfModule>

